/* estilo MAIN */
/*estilo global fondo*/

.global {
    height: 1px;
}

#contentwrapper{
    width: 100vh;
    height: 100vh;
    height: auto;
}

html, body {
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
}

#defaultBackground {
    width: 100%; 
    height: 100%; 
}

#defaultBackground2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s ease-out; 
    transition: opacity 1s ease-in; 


}

.background {
    background-color: hsl(149, 52%, 20%);
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.watermark img {
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    width: 100%;
}
#overlay {
    display:block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index:1001;
}

#sendFriendRequest {
    padding: 10px; 
    color:white;
    margin-top: 20px;
    margin-left: 20px;
    width:100%;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgba(224, 217, 217, 0.376); 
    font-family: 'Noto Serif Old Uyghur';
    border-radius: 15px;
    transition: all 0.2s ease;
}


#sendFriendRequest:hover, #sendFriendRequest:focus {
    width: 150%;
    outline: none;
    background-color: rgb(27, 43, 34);
    border-radius: 10px;
}

i.fas.fa-search {
    position: absolute;
    right: 10px; 
    top: 70%;
    transform: translateY(-50%); 
    cursor: pointer; 
    color: #ccc; 
}

#requests {
    background: none;
    margin-left: 10px;
    border: 2px solid rgba(243, 243, 243, 0.376); 
    outline: none; 
    color: white;
    position: relative; 
    font-family: 'Noto Serif Old Uyghur';
    border-radius: 10px;
    border-color: transparent;
    transition: all 0.1s ease;
    margin-top:40px;
    outline: none;
}
#profileConfig {
    margin-top: 20px;
    background: none;
    border-color: transparent;
}
.notifImage{
    margin-top:-17px;
    margin-right:-20px;
    width: 35px;
    height: auto; 

}
.profileConfig{
    width: 66px;
    height: auto; 

}
.notifImage:hover {
    content: url('../img/main/notiLlena.png');
}


.badge {
    background-color: rgb(239, 152, 152);;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(237, 70, 70);
}

#friendRequestsContainer {
    height: 100%; 
    position: fixed;
    top: 0;
    right: -350px;
    background-color: rgba(255, 255, 255, 0.659); 
    overflow-x: hidden; 
    z-index: 1001;
    transition: 0.3s;
    border-radius: 3px;
}
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Space between image and text */
    display: inline-block; /* Ensure it's inline with the text */
}

.friendRequest {
    margin-top:20px;
    text-align: center; 
}

.friendRequest-text {
    font-weight: bold;
    color: #333;
    margin-left: 20px; 
    margin-right: 20px; 
    margin-bottom: 13px;
}

/* estilo cuerpo u otros estilos, ya definiré dentro de este */
/* menú lateral */
.side-mainMenu {
    position: fixed;
    padding-top: 50px;
    border-right: 0px solid;
    border-color: transparent;
    height: 1000vh;
    padding-right: 26px;
    margin-right: 50px;
    z-index: 1;
}

.list-group-item.list-group-item-action {
    background-color: transparent ; /* hace el fondo 100% transparente */
    text-align: left;
    margin-bottom: 26px;
    font-family: 'Noto Serif Old Uyghur';
    font-size:17px;
    color: rgb(255, 255, 255); 
    padding-left: 60px;
    font-weight: bolder;
    font-size: 19px;
    transition: transform 0.2s ease, opacity 0.2s ease;
    border-width: 0px;
}

 .list-group-item.list-group-item-action:hover {
    transform: scale(1.1);
    opacity: 0.4;
}
