/*estilos aplicados a las paginas
de inicion de sesión 
y resgistro de usuario*/

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

.global {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    color: white;
    background-image: linear-gradient(to top, transparent 77%, white 60%);
    transition: height 0.5s ease; /* Suaviza la transición de la altura */
    height: 100vh; /* Altura inicial completa */
}

.scrolled .global {
    background-image: linear-gradient(to bottom, transparent 60%, white 50%);
    height: 400px; /* Altura reducida cuando se hace scroll */
}


.front {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
    position: sticky;
}
.log {
    font-size: large;
    text-align: right;
    padding-top: 20px;
    margin-right: 20px;

}
.logIcon {
    width: 60px;
    height:auto;
    padding-right: 10px; 
    transition: opacity 0.3s ease, transform 0.1s ease;
}

.logIcon:hover{
    opacity: 0.3;
    transform: scale(0.95);
}

.ach {
    text-align: center;
    font-family: 'Noto Serif Old Uyghur';
    font-size: 80px;
    margin-bottom: 0%;

}

.ach, .slogan {
   top: -50;
   transition: transform 0.7s ease;

}


.scrolled .ach {
    transform: translate(-43%, -50%) scale(0.5);
}

.slogan {
    font-family: 'Noto Serif Old Uyghur';
    font-size:larger;
    text-align: center;
    font-style: italic;
    font-size: 25px;
}
.scrolled .slogan {
    transform: translate(-41%, -280%) scale(0.7);
}

.log a {
    color:inherit;
    text-decoration: none;
    transition: color 1s ease; 
}

.white-text,
.white-text .log a,
.white-text .ach,
.white-text .slogan,
.white-text .menu ul li a {
    color: white;
}

.white-text .menu ul li a:hover {
    color: grey; 
}


/*CUERPO*/
.menu {
    width: max-content; 
    background-color: transparent;
    margin: auto;
    transition: transform 0.7s ease; 
    font-family: 'Noto Serif Old Uyghur';

}

.scrolled .menu {
    transform: translate(0%, -173px) scale(1.1);
}

.menu ul li{
    display: inline-block;

}

.menu ul li a {
    font-size: medium;
    display: block;
    color: white;
    text-decoration: none;
    padding:15px 40px; 
    transition: transform 0.4s ease; 


}
.menu ul li a:hover {
    transform: scale(1.1);
    color:rgb(233, 195, 185);
}



#acercade {
    padding-top: 400px;
    width: 500px;
    height: 300px;
    background-color: transparent;    
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    border-radius: 20px;
    overflow: hidden;
    filter: blur(10px);
    z-index: 1;
}

#servicio {
    padding-top: 400px;
    width: 500px;
    height: 300px;
    background-color: transparent;    
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    border-radius: 20px;
    overflow: hidden;
    filter: blur(10px);
    z-index: 1;
}

#contacto {
    padding-top: 400px;
    width: 500px;
    height: 300px;
    background-color: transparent;    
    background-position: center;
    opacity: 0.7;
    border-radius: 20px;
    overflow: hidden;
    filter: blur(10px);
    z-index: 1;
}

/* estilos cuerpo de la pagina de presentacion */
.background {
    background-color: #013220;
}

/* /estilo lo q es cuerpo de la pagina/ */

#inicio {
    color:whitesmoke;
    margin-right: 50px;
    
}
.quienesSomos {
    font-family: 'Noto Serif Old Uyghur';
    font-size: 70px;

}
