/*estilos recursos*/
.background {
    color:whitesmoke;
}

.mainContainer2 {
    z-index: 0;
    width: 85vw; /* Asegura que el contenedor ocupa todo el ancho de la ventana gráfica */
    min-height: 88vh; 
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #26473b;    
    background-color: #013220;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0 20px; /* Añade padding para evitar que el contenido toque los bordes */
}

.file-entry {
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-text {
    margin-left: 15px;
    color: rgb(29, 46, 33);
    font-size: 20px;
    transition: 0.6s ease;
}

.file-upload-button {
    margin-left: 45px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.602);
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: whitesmoke;
    padding: 5px 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

.file-upload-button:hover {
    border-color: black;
    background-color: black;
    color: white;
}

.titleResources {
    z-index: 2;
    display: flex;
    justify-content: left; 
    margin-left: 21px;
    margin-top: 1.9%;
    margin-bottom: 20px;
    padding-bottom: 13px;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right:none;
    width: 100%;
    font-size: 30px;
    font-family: 'Noto Serif Old Uyghur';
    color:white;
}

.welcome {
    text-align: center;
    color: white; 
    font-family: 'Noto Serif Old Uyghur';
}

#fileList {
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: -60px;
    background-color:transparent;
}

.uploadTxt {
    color: rgb(29, 46, 33);
    font-size: 20px;
}

#each {
    color:white;
    padding: 7px;
    margin-left:20px;
    margin-right:60px;
    border-radius: 5px;
    background-color: rgb(226, 238, 226);
    transition: 0.3s ease;
}

#each:hover {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

/* Aplica el estilo hover del contenedor también al texto del archivo */
#each:hover .file-text {
    color: whitesmoke;
}

/* Estilos para el modal */
.modal {
    margin-left: 1146px;
    margin-top: 720px;
    position: fixed;
    width: 500px;
    height: 180px;
    /* max-height: 120px; */
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #cadccf; /* Blanco roto */
}

.modal-content {
    padding: 20px;
    border:none;
    background-color: transparent; /* Blanco roto */
    width: inherit;
    border-radius: 10px;
    position: relative; /* Asegura que los elementos dentro del modal se posicionen correctamente */
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
