/*estilos aplicados a la página de inicio*/
body, html {
    margin: 0;
    padding: 0;
}

body.dark-background {
    background: radial-gradient(circle at center, black 10%, #013220 100%);


}
#defaultBackground3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s ease-out; 
    transition: opacity 1s ease-in; 


}


.global2 {
    position: sticky; 
    top: 0;
    color: black;
    background-color: transparent
}

.watermark img {
    color: white;
    padding-left: 30px;
    padding-top:15px;
    width: 16%;

}
.access-container {
    position: relative;
    border: 2px solid rgba(53, 91, 53, 0.376); 
    max-width: 700px;
    max-height: 720px;
    margin: 0 auto;
    padding: 20px; 
    border-radius: 10px; 
    background-color: rgba(71, 94, 71, 0.376); 
    box-sizing: border-box; 
    overflow: hidden;
    transition: background-color 0.7s ease;
}

 .access-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, black 10%, rgba(103, 247, 167, 0.257) 100%);
    transition: opacity 0.7s ease;
    opacity: 0;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
    border-radius: 10px; /* Asegúrate de que el pseudo-elemento siga la forma del contenedor */
}

.access-container:hover::before {
    opacity: 1;
}

.login-container .access-container {    
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    flex-direction: column; 
    border-radius: 100px; 
    
}

.userTypeSelector {
    margin-left:19%;
    margin-bottom: 15px;
}

#userType {
    font-size: 15px;
    font-family: 'Noto Serif Old Uyghur';

    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    border-radius: 10px;
    width: 250px;

}

.register, .login  {
    padding-top:20px;
    padding-bottom:200px;
    justify-content: center;
    align-items: center; 
    color: white;
    /* border: 2px solid rgba(53, 91, 53, 0.376);  */
    font-family: 'Noto Serif Old Uyghur';
    width: 100%; 
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.titleLog {
    text-align: center;
    padding-bottom: 50px;

}

.form-group, .field {
    font-family: 'Noto Serif Old Uyghur';
    margin-bottom: 10px;
    text-align: center;
}

 .input {
    margin-top: 70px;

    margin-left: 320px;
    width: 40%;
    
} 
/*PRUEBAS*/

.field input {
    background: none;
    border: 2px solid rgba(97, 145, 97, 0.376); 
    outline: none; 
    color: white;
    width: 70%; 
    padding: 10px; 
    position: relative; 
    font-family: 'Noto Serif Old Uyghur';
    border-radius: 10px;
    transition: all 0.2s ease;
}

.field input:hover,.field input:focus {
    background-color: rgb(27, 43, 34);
    border-radius: 10px;
}

.access, .rediReg, .confirmReg {
    font-family: 'Noto Serif Old Uyghur';
    font-size: 16px;
    position: relative;
    color:inherit;
    text-decoration: none;
}
.access{
    padding-left: 12px;
    cursor: pointer;
}
.rediReg {
    padding-left: 12px;
    cursor: pointer;

    width: 120%;
}

.access:hover, .confirmReg:hover{
    color: rgb(94, 128, 72);
  }

.access::after, .confirmReg::after{
    background: black;
    font-size: 16px;
    border:none;
    font-family: 'Noto Serif Old Uyghur';
    cursor: pointer;
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: -5px;
    left: 50%;
    background-color: rgb(94, 128, 72);
    transition: all 0.3s ease;
}

.access:hover::after {
    color: rgb(94, 128, 72);
    width: 79%; 
    left: 0;
}

.confirmReg:hover::after {
    color: rgb(94, 128, 72);
    width: 90%; 
    left: 0;
}