body {
    font-family: 'Noto Serif Old Uyghur';
    background-color: #2e2e2e;
    color: #f8f8f8;
}
.volver  {
    margin-top: 20px;
}

#profileImage {
    margin-left:10px;
    object-fit: cover; /* Mantiene la proporción de la imagen */
    margin-top: 7px;
    width: 90px;
    height: 90px;

}
.img-fluid {
    max-width: 100%;
    height: auto;
  }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #9ea9a1e7;
    color: white;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    max-width: 1200px;
}
.modal-title {
    color: #000000;
    font-size: 19px;
    font-family: 'Noto Serif Old Uyghur';
}

.side-menu {
    background-color: #616961;
    padding: 20px;
    height: 100%;
    border-radius: 6px;
    position: sticky;
    padding-bottom: 677px;
    top: 0;
    overflow-y: auto;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 10px;
    border-width: 1px;
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(155, 160, 156);
    border-top: none;
    border-left: none;
    border-right: none;
}

.side-menu ul li a {
    
    color: white;
    text-decoration: none;
    display: block;
}

.side-menu ul li a:hover,
.side-menu ul li a.active {
    background-color: #1b1919;
    border-radius: 4px;
    padding-left: 10px;
}

.content {
    padding: 20px;
    height: calc(100vh - 140px);
    overflow-y: auto;
}

.type1 {
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgb(247, 247, 247);
    border-top: none;
    padding-right: 314px;
    padding-bottom: 5px;
    border-left: none;
    border-right: none;
    font-weight: bolder;

}

.type2, .type3  {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgb(247, 247, 247);
    border-top: none;
    padding-right: 512px;
    border-left: none;
    border-right: none;
    font-weight: bolder;
}

h2, h3 {
    margin-top: -20px;
    margin-bottom: 30px;
    color:rgb(37, 43, 43);
}

textarea.form-control {
    resize: none;
}

section {
    padding-bottom: 20px;
}
#nombre, #biografia, #aptitudes{
    background-color: #cad1ccd5;
    border-width: 2px;
    border-style: solid;
}

.input{
    float:right;
}


#applyChanges {
    background-color: rgb(59, 82, 70);
    color: #cccccc;
    border-radius: 12px;
    margin-right: 16px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    transition: ease 0.3s;

}
#applyChanges:hover {
    background-color: rgb(255, 247, 247);
    color:black;

}


section + section {
    border-top: 1px solid #505050;
    padding-top: 20px;
    margin-top: 20px;
}
