/* css CHAT */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.chatsCol {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 26px;
    text-align: center;
    font-weight:bold;
}

#chatList {
    text-align: left;
    font-size: 16px;
    font-family: 'Noto Serif Old Uyghur';
    flex:1;
    min-height: 88vh;
    border-style: solid;
    border-width: 5px;
    border-radius: 2px;
    border-color: #26472f;
    border-top: none;
    border-left:none;
    position: relative;
    background-color:#0f4d363b;
    border-image-slice: 1 !important;
}
/* dentro del cahtlist tenemos los amigos */
.friend {
    background-color: #032015af;
    align-content:start;
    width: 220px;
    height: 70px;
    text-align: left;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    border-color: #26472f;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-top: 9px;
    padding-left: 37px;
    transition: ease 0.3s;
}

.profile-image {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -20px;
}
.profile-image-small {
    width: 52px;
    height: 52px;
    object-fit: cover;

}

.friend:hover,
.friend:active, 
.friend:focus {
    background-color: #01100a;
}

.mainContainer{
    width: 1425px;
    height: 88vh; 
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #26473b;    
    background-color:#013220;
    position: relative;
    max-width: 1500px; 
    margin: 0 auto; 
}

.chat-header {
    margin-left:-20px;
    display: flex;
    align-items: center;
    background-color: #0f4d363b;
    padding: 10px;
    width: 108%;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #26472f;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
}

.chat-container {
    width: 115%;
    display: flex;
    flex-direction:column;
    height: 80vh; 
}
.chat-header img.profile-image-small {
    width: 47px;
    height: 47px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

h5 {
    font-family: 'Noto Serif Old Uyghur';
    margin-top: 15px;

}

.close-chat {
    margin-left:95% ;
    margin-top: 10px;
    border-style: none;
    background-color: transparent;
    font-family: 'Noto Serif Old Uyghur';
    font-weight: bold;
    font-size: 25px;
    color: rgb(212, 28, 28);
}

.chat-messages {
    width: 100%; 
    max-width: 100%; 
    flex-grow: 1;
    margin-top: 10px;

    overflow-y: auto; 
}

#chatMessageInput {
    color:white;
    width:116%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.767); 
    font-family: 'Noto Serif Old Uyghur';
    border-radius: 3px;
    transition: all 0.2s ease;
}

#chatMessageInput:hover, #chatMessageInput:focus {
    outline: none;
    background-color: rgba(85, 115, 95, 0.61);
    border-radius: 10px;
}

#sendChatMessage {
    background-color: #355b4d;
    max-width: 100px;
    
    border-radius: 10px;
    border-style: none;
    margin-left: 150px;
    text-align: center;
}

.row.align-items-end {
    margin-left: 0;
    margin-right: 0;
}
/*tema mensajes*/
.message {
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px 0px;
    max-width: fit-content;
    background-color: black; 
    word-wrap: break-word; 
}

.message-current-user {
    color: black;
    background-color: #DCF8C6; 
    margin-left: auto; 
    margin-right: 10px;
    text-align: end;
}

.message-other-user {
    color: black;
    background-color: #FFFFFF; 
    margin-right: auto; /*alinea a la izquierda en est caso*/
    margin-left: 10px;
}
