/*estilos recursos*/
.background {
    color:white;
}
.titleResources {
    display: flex;
    justify-content: center; 
    width: 100%;
    font-size: 30px;
    font-family: 'Noto Serif Old Uyghur';
}

.welcome {
    text-align: center;
    color: white; 
    font-family: 'Noto Serif Old Uyghur';

}
#fileList {
    padding-top:10px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: -60px;
}
.uploadTxt, .file-text {
    color: black;
}

#yourFilesList {
    background-color:#668066;
    border-radius:2px;

    
}

#each{
    padding: 7px;
    border-width: 2px;
    border-style: solid;
    border-top:whitesmoke;
    border-left:whitesmoke;
    border-right:whitesmoke;
}

.file-entry {
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-text {

    font-size: 22px;
    margin-left: 15px;
}
